<section id="social">
    <div class="container">
        <ul class="social">
            {{ with .Site.Social.facebook }}
                <li class="social__item">
                    <a href="https://facobook.com/{{ . }}" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
            {{ end }}
            {{ with .Site.Social.twitter }}
                <li class="social__item">
                    <a href="https://twitter.com/{{ . }}" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
            {{ end }}
            {{ with .Site.Social.linkedin }}
                <li class="social__item">
                    <a href="https://linkedin.com/in/{{ . }}" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
            {{ end }}
            {{ with .Site.Social.instagram }}
                <li class="social__item">
                    <a href="https://instagram.com/{{ . }}" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            {{ end }}
            {{ with .Site.Social.googleplus }}
                <li class="social__item">
                    <a href="https://plus.google.com/+{{ . }}" target="_blank">
                        <i class="fab fa-google-plus"></i>
                    </a>
                </li>
            {{ end }}
            {{ with .Site.Social.github }}
                <li class="social__item">
                    <a href="https://github.com/{{ . }}" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
            {{ end }}

            {{ with .Site.Social.gitlab }}
                <li class="social__item">
                    <a href="https://gitlab.com/{{ . }}" target="_blank">
                        <i class="fab fa-gitlab"></i>
                    </a>
                </li>
            {{ end }}
            {{ with .Site.Social.pinterest }}
                <li class="social__item">
                    <a href="https://pinterest.com/{{ . }}" target="_blank">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </li>
            {{ end }}
            {{ with .Site.Social.tumblr }}
                <li class="social__item">
                    <a href="https://tumblr.com/blog/{{ . }}" target="_blank">
                        <i class="fab fa-tumblr"></i>
                    </a>
                </li>
            {{ end }}
            {{ with .Site.Social.vimeo }}
                <li class="social__item">
                    <a href="https://vimeo.com/{{ . }}" target="_blank">
                        <i class="fab fa-vimeo"></i>
                    </a>
                </li>
            {{ end }}
            {{ with .Site.Social.youtube }}
                <li class="social__item">
                    <a href="https://youtube.com/user/{{ . }}" target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
            {{ end }}
        </ul>
    </div>
</section>